.cards {
  @include flexSetup;
  gap: 30px;
  margin-top: 50px;

  a {
    text-decoration: none;
  }

  h2 {
    color: $terciary-color;
    padding: 80px 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); // Gray blurred text shadow
  }

  .article-1 {
    background-image: url(../images/white-box.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .article-2 {
    background-image: url(../images/room.jpg);
    min-height: 500px;
    background-size: cover;
    position: relative;
  }

  .article-3 {
    background-image: url(../images/black-white.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  img {
    background-color: $terciary-color;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    padding: 5px;
    margin-left: 30px;
    position: absolute;
    top: 35%;
    box-shadow: 0 0 1px 5px rgba(255, 255, 255, 0.2); // White transparent outer circle shadow
 }
}
